<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="post">
      <h1>Contact Now</h1>
      <label for="lname">Email:</label><br />
      <input type="email" name="email" placeholder="Email" value= "<%= locals.email %>" /><br />
      <label>Password:</label><br />
      
      <input type="password" name="password" placeholder="Password" />
      <p><%= locals.message %></p> 
      <br>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
